/*
Posicionamiento --> static, absolute, relative, fixed
Modelo de caja (Box model) --> margin, border, padding, content
Tipografía --> tipos, tamaños de fuente, etc
Estilos visuales --> box-shadow, border-radius, gradient, etc
Otros --> reglas CSS y más
*/
:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 295px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 40px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 34px;
    align-self: center;
    text-align: center;
    
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 24px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

header .header--button {
    position: absolute;
    top: 266px;
    left: calc(50% - 114.5px);
    display: block;
    width: 229px;
    height: 48px;
    padding: 15px 20px 15px 14px;
    background-color: var(--off-white);
    box-shadow: 0 4px 8px 0 rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.82rem;
    text-decoration: none;
    color: var(--warm-black);
}

header .header--button span {
    display: inline-block;
    height: 7.41px;
    width: 12px;
    margin-left: 14px;
    background-image: url('./assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top : 60px;
    text-align: center;
}

.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg {
    width: 195px;
    height: 195px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url('./assets/img/Bitcoin.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.main-exchange-container h2 {
    margin-bottom: 24px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--warm-black);
}

.main-exchange-container p {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #757575;
}

.main-tables-container {
    display: flex;
    align-items: center;
    height: 360px;
    padding: 60px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.currency-table, .commission-table {
    width: 70%;
    margin: 0 auto;
    min-width: 235px;
    max-width: 400px;
    scroll-snap-align: center;
}

.currency-table .currency-table__title {
    color: var(--bitcoin-orange);
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: left;
    margin-left: 16px;
}

.currency-table__container, .commission-table__container {
    font-family: 'Inter', sans-serif;
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 159px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.currency-table__container table, .commission-table__container table {
    width: 100%;
    height: 100%;
}

.currency-table__container td, .commission-table__container td {
    width: 50%;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 500;
    font-style: normal;
    padding: 10px 12px;
    letter-spacing: -0.02rem;
    color: #B5B0AC;
    background-color: var(--just-white);
}

.table--top-right {
    border-radius: 0 8px 0 0;
} 

.table--top-left {
    border-radius: 8px 0 0 0;
} 

.table--bottom-right {
    border-radius: 0 0 0 8px;
} 

.table--bottom-left {
    border-radius: 0 0 8px 0;
} 

.currency-table__container .table--right, .commission-table__container .table--right {
    color: #757575;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: normal;
    font-style: normal;
}

.currency-table__container .down {
    display: inline-block;
    width: 11px;
    height: 6px;
    margin-left: 10.5px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.currency-table__container .up {
    display: inline-block;
    width: 11px;
    height: 6px;
    margin-left: 10.5px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.currency-table .currency-table__date {
    width: 173px;
    height: 31px;
    margin: 0 auto;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.currency-table__date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 8px;
}

.commission-table .commission-table__title {
    color: var(--secondary-blue);
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: left;
    margin-left: 16px;
}

.commission-table .commission-table__date {
    width: 173px;
    height: 31px;
    margin: 0 auto;
    background-color: var(--soft-blue);
    border-radius: 8px;
}

.commission-table__date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 8px;
}

.product-details {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 64px 16px 31px 16px;
    background-color: var(--black);
}

.product-details .logo{
    position: absolute;
    top: calc(0% - 12px);
    left: calc(50% - 20.25px);
    display: inline-block;
    width: 40.5px;
    height: 24px;
    background-image: url('./assets/icons/batata.svg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.product-details__title {
    width: 100%;
    height: auto;
    text-align: center;
}

.product-details__title h2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
    margin-bottom: 24px;
}

.product-details__title p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
    margin-bottom: 32px;
}

.product-details__container {
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
}

.product-details__card {
    min-width: 300px;
    padding: 16px 18px;
    background-color: var(--warm-black);
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
}

.product-details__card-title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--just-white);
    padding-bottom: 10px;
}

.product-details__card-body {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
    margin-bottom: 4px;
}

.product-details__container span {
    display: inline-block;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin-bottom: 12px;
}

.product-details__container .clock {
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/clock.svg');
}

.product-details__container .eye {
    width: 22px;
    height: 16px;
    background-image: url('./assets/icons/eye.svg');
}

.product-details__container .dollar {
    width: 24px;
    height: 24px;
    background-image: url('./assets/icons/dollar-sign.svg');
}

.product-details__container .check {
    width: 24px;
    height: 24px;
    background-image: url('./assets/icons/check-circle.svg');
}

.bitcoin-img-container {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 387px;
    text-align: center;
    background-image: url('./assets/img/bitcoinbaby2x.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.bitcoin-img-container h2 {
    position: absolute;
    top: 64px;
    left: calc(50% - 162px/2);
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
}

.plan-information__container {
    width: 100%;
    min-width: 320px;
    padding: 64px 0;
    text-align: center;
    background-color: var(--off-white);
}

.plan-information__title {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.plan-information__title h2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--black);
    padding-bottom: 24px;
}

.plan-information__title p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
}

.plan-information__card-container {
    height: 276px;
    display: flex;
    gap: 8px;
    align-items: center;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plan-information__card {
    position: relative;
    scroll-snap-align: center;
    width: 190px;
    max-width: 300px;
    height: 247px;
    margin: 0 auto;
    padding: 31px 16px 24px 16px;
    background-color: var(--just-white);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(89, 73, 30, 0.16) ;
    font-family: 'Inter', sans-serif;
}

.recommended {
    position: absolute;
    top: calc(0% - 15px);
    left: calc(50% - 50px);
    padding: 8px;
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-style: normal;
}

.plan-information__prices h3 {
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding-bottom: 8px;
    font-family: 'DM Sans', sans-serif;
}

.plan-information__prices-price {
    height: 56px;
    font-size: 5.2rem;
    line-height: 6.3rem;
    font-weight: bold;
    letter-spacing: -0.3rem;
}

.plan-information__prices-price sup {
    width: 8px;
    height: 15px;
    font-weight: normal;
    position: absolute;
    top: calc(0% + 66px);
    left: calc(50% - 65px/2 - 12px);
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.plan-information__prices-save {
    margin-top: 16px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #757575;
}

.plan-information__prices-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 12px 15px 16px;
    margin: 16px auto;
    width: 151px;
    height: 48px;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    color: var(--black);
    background-color: var(--off-white);
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

.plan-information__prices-button span {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    vertical-align: text-bottom;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

.links ul {
    list-style: none;
}

.links li {
    margin-bottom: 8px;
}

.links a {
    text-decoration: none;
    color: var(--just-white);
    font-size: 1.4rem;
    line-height: 1.8rem;
}